/* ========================== GOOGLE FONTS ========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ========================== VARIABLES CSS ========================== */
:root{
    --header-height: 3rem;

    /* =========== Colors =========== */
    --hue-color: ;

    /* HSL color mode */
    --first-color: #2ebfcc;
    --first-color-second: ;
    --first-color-alt: ;
    --first-color-ligther: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --input-color: ;
    --body-color: ;
    --container-color: ;

    /* =========== Font an typography =========== */
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem =24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* =========== Font weight =========== */
    --font-medium: 500;
    --font-semi-size: 600;

    /* =========== Margenes bottom =========== */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-0-1: .1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

     /* =========== z index =========== */
     --z-tooltip: 10;
     --z-fixed: 100rem;
     --z-modal: 1000rem;


    /* =========== BASE =========== */
    /* *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    } */
}